<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
    <main>
        <style>
            .container {
                display: flex;
                width: 300px;

                padding: 50px;
                margin: 20px;

            }

            .image {
                display: flex;
                flex-direction: row;
            }
        </style>
    </main>
</head>

<body>
    <nav>
        <header>
            <main>
                <div class="container">
                    <div class="image">
                        <img src="aa.webp" width="200" height="200">
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quaerat nesciunt libero
                        exercitationem,
                        nisi consequuntur cumque aliquid temporibus animi itaque atque numquam perspiciatis cupiditate
                        facilis quo
                        repellat! Cupiditate, nisi possimus!</p>




                    <div><img src="bb.webp" width="200" height="200"></div>
                    <h2>Illum adipisci voluptates unde earum.</h2>
                    <p>Ipsa debitis fugit explicabo numquam accusamus reprehenderit ut? Minus ullam ducimus nobis atque
                        voluptatum
                        iusto fugiat recusandae, tempore impedit doloribus dolor maiores accusamus placeat neque qui
                        accusantium
                        provident sit a?</p>




                    <div><img src="cc.webp" width="200" height="200"></div>
                    <h2>Neque quia fugiat quibusdam dignissimos.</h2>
                    <p>Error repellendus incidunt quos nam quas eius aperiam distinctio assumenda voluptas natus iusto
                        magni dolorum
                        quo mollitia, tempora ducimus optio nulla! Explicabo velit nulla voluptates atque at quis animi
                        illo.</p>

                </div>
                <div class="container">

                    <div class="image"><img src="dd.jpeg" width="200" height="200"></div>
                    <h2>Sint magni corporis corrupti voluptatum.</h2>
                    <p>Magnam neque, ad quibusdam ab doloremque quis eaque reprehenderit placeat mollitia temporibus
                        consectetur vel
                        maxime id sit. A iste tenetur debitis quasi unde accusantium autem ea. Voluptates illum corrupti
                        rerum.</p>



                    <div class="image"><img src="ee.jpeg" width="200" height="200"></div>
                    <h2>Natus tempore laborum in illo.</h2>
                    <p>Ipsam exercitationem veniam quam et rem quo minima alias itaque recusandae id provident deleniti
                        laborum
                        autem eveniet, eius, necessitatibus magnam quae voluptas. Recusandae aut atque doloribus autem
                        id, delectus
                        harum.</p>



                    <div class="image"><img src="ff.webp" width="200" height="200"></div>
                    <h2>Cum quisquam reprehenderit adipisci temporibus.</h2>
                    <p>Quidem dignissimos alias sequi. Neque ad quo illum qui ipsa rerum eligendi architecto eum.
                        Tempora accusamus
                        numquam libero, consequuntur quod, iste, ut nam modi iure fuga laborum minus nulla! Sed?</p>

                </div>
    </nav>
    </header>
    </main>
</body>

</html>