<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        open devloper tools and see the console for the output
        (ctrl + shift + I)
    </h1>
    <script>
        console.log("this is a simple java script0")
        var heading = document.querySelector("h1")
        console.log(heading)
        heading.style.color = 'red'

        heading.style.fontFamily = 'system-ui'
        heading.innerHTML = "<em>changed</> with javascript"

    </script>
</body>

</html>