<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags in HTML</title>
    <style>
        html {
            color-scheme: dark;
        }

        body {


            font-family: sans-serif;
            font-size: 1.3rem;
            line-height: 1.5;
            width: 75ch;
            margin: 5rem auto;


        }
    </style>
</head>

<body>
    <DIV>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem voluptatum
        perferendis tenetur odio nam explicabo eveniet ab amet, consequatur, temporibus beatae ipsa
        reprehenderit, non esse ut ex illum dolor molestiae?</DIV>
    <header>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sapiente fugiat! Et corporis rerum minus
        facilis libero! Tempore assumenda aliquam maxime animi alias amet sapiente fugit necessitatibus? Cum,
        repellendus tempora.</header>
    <FOOTER>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cumque harum modi, culpa vel voluptatem
        suscipit ab architecto ullam dicta ducimus. Dolorum deleniti, quas eius suscipit nobis in corrupti illum.
    </FOOTER>
    <!-- nav>ul>li*5>lorem1 -->
    <nav>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>

    <!-- section*3>lorem -->
    <section>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit nesciunt culpa similique voluptatibus et,
        minus corrupti dolores ipsum ullam nemo quos deserunt, dolorem eius aliquid rerum impedit rem voluptatum
        ducimus.</section>
    <section>Facere, quam asperiores! Soluta explicabo fuga, unde suscipit voluptatem dignissimos itaque a ex distinctio
        cumque earum officiis pariatur quasi hic ad numquam repellendus est, eos facere temporibus, nobis ea alias.
    </section>
    <section>Culpa ut alias consectetur, praesentium atque eaque earum. Dicta ut error eligendi enim consequuntur
        debitis mollitia at! In fugit delectus eos quibusdam reprehenderit exercitationem veritatis. Ducimus fugit ullam
        perspiciatis autem?</section>

    <!-- Formating Tags -->
    <hr>

    <h1><u>Heading</u></h1>
    <h2>Heading</h2>
    <h3>Heading</h3>
    <h4>Heading</h4>
    <h5>Heading</h5>
    <h6>Heading</h6>

    <DIV>
        <DETAILS>
            ALT+SHIFT+F
            <p>Formatting the html code</p>
        </DETAILS>
        <summary>ctrl+shift+p</summary>
        <p>Show settings /preferences</p>
        <DETAILS></DETAILS>
        <DETAILS></DETAILS>
        <DETAILS></DETAILS>
        <DETAILS></DETAILS>
        <SUMMARY></SUMMARY>
        <P></P>
        <summary>
            ctrl+b💕
        </summary>
        <p>for adding emojis </p>

        <div>
            <table border="1" width="50%">
                <thead>
                    <tr>
                        <th colspan="4">purchased items </th>
                    </tr>
                    <tr>
                        <th>Snow</th>
                        <th>Name</th>
                        <th>oty</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- tr*3>td*4 -->
                        <td>1</td>
                        <td>Shirts</td>
                        <td>4</td>
                        <td>1112</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>salt</td>
                        <td>5</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>FLOUR</td>
                        <td>8</td>
                        <td>300</td>
                    </tr>
                </tbody>
                <DIV>
                    <blockquote>This is my first page</blockquote></B>
                    <code>
                <pre>
                hello():
                print("hello")
            </code>
                    </pre>
                </DIV>
                <tfoot></tfoot>
            </table>
        </div>
    </DIV>


</body>

</html>